div {
  display: flex;
  flex-wrap: wrap;
  /* display:block; */
}
/* .outerbox{
height:200px;
width:200px;
border-radius: 10px;
margin:auto;
background-color:#733B1E;
padding-top: 5px;} */

.innerbox{
/* margin: auto; */
height:180px;
width:180px;
border-radius: 10px;
padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
/* background-color:black;} */
}

.box1 {
height:178px;
width:178px;
border-radius: 10px;
margin: auto;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
background-color:#ff9e00;
}

.box2 {
  height:178px;
  width:178px;
  border-radius: 10px;
  margin: auto;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  background-color:#b134e6;
  }

  .box3 {
    height:178px;
    width:178px;
    border-radius: 10px;
    margin: auto;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color:#7fd244;
    }

.glass {
padding-top: 20px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 60px;
}


.a {
height:50px;
width:50px;
text-align: center;
-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
background-color:#EEF0F2;
}

.b {
margin-top: -28%;
margin-right: 10%;
height: 50px;
width: 50px;
box-sizing: border-box;
border-radius: 90%;
background-color:#800080;
}

.b2 {
margin-top: -28%;
margin-right: 10%;
height: 50px;
width: 50px;
box-sizing: border-box;
border-radius: 90%;
background-color:#fcfcca;
}

.rod {
margin-top:-4%;
height:50px;
width:50px;
-webkit-clip-path: ellipse(4% 40% at 50% 50%);
clip-path: ellipse(4% 40% at 50% 50%);
background-color:#EEF0F2;
}

.base {
margin-left:-10.5%;
margin-top:-60%;
height:65px;
width:15px;
left:20px;
padding-left: 60px;
-webkit-clip-path: polygon(50% 88%, 0% 100%, 100% 100%);
clip-path: polygon(50% 88%, 0% 100%, 100% 100%);
background-color:#EEF0F2;
}

legend.MuiFormLabel-root {
  color: #f50057;
  font-size: 20px;
  margin-bottom: 7%;
}

button.MuiButton-containedSecondary {
  margin: 7% 90%;
}

.wineMatch {
color: blue;
}

.wineMatchName {
  color: pink;
}

.poultry {
  color: black;
}

.dreamer .MuiTypography-body1 {
font-family:'Chilanka', cursive;
font-weight: 900;
font-size: 1.2em;
color: orange;
}

.difficult .MuiTypography-body1 {
  font-family: 'Gayathri', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  color:blue;
}

.sweetie .MuiTypography-body1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color:lightcoral;
}

.reserved .MuiTypography-body1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  color:purple;
}

.wineResult{
  display: flex;
  font-size: 1.2em;
  justify-content: space-evenly;
  margin-top:5%;
}

.wineQuotes {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  text-align: center;
  /* margin: 0 auto; */
}

.wineMatch {
  font-family: 'Montserrat', sans-serif;
  color: black;

}

.wineMatchName {
  font-family: 'Archivo Black', sans-serif;
  color:black;
}

.head {
  display:block;
  /* justify-content: center; */
  font-family: 'Montserrat', sans-serif;
}
.title {
  margin: 0 auto;
  font-family: 'Tangerine', cursive;
  font-size: 4em;
}

.subtitle {
  margin: 0 auto;
}

.innerboxResult {
  margin: 0 5%;
}

footer{
margin: 0 auto;
margin-top: 20%;
}

.background {
  background-color: #fff9ef;
}

.click {
  text-decoration: none;
  font-weight:bolder;
  color:#f50057;
}

.seeResult {
  text-decoration: none;
  width: 2.7em;
  font-family: 'Roboto', sans-serif;
  background-color:#f50057;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  height: 8px;
  margin: 7% auto;
  text-align: justify;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
    
}